<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            As a recent gruaduate in computer science from the New Jersey Institute of Technology (NJIT),  I've worked 
            diligently to make myself standout from the crowd.  I have been awarded the (Example) scholorship, 
            inducted into (Example Honor Society), and obtained a top standing my class.  In addition to my core studies in computer science, I have gained 
            practical development experience by participating in the I.S. departments entrepreneural computing club where I worked on a student team to develop 
            a new university wide learning mangement web application.  My activies involved front end development using the Laravel web framework and View.js.  
            I also worked on the unit and feature tests, focused on test automation and database seeding for the student registration mechanism and instructor grading portal.  
            I also gained hands-on experience in using GitHub in a team setting, and practical web application freamework usage for back end development.
        </p>
        <p>
           I love building things.
           I'm looking for an individual contributor role where I can take on collaborative
           team application development responsibilites, and gain experience in
           web application development.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Helped develop a new student registration front end for a new University Learning Management System at NJIT.
    			</li>
          <li>
            Automated the feature and unit tests for the student registration feature in the new University LMS system.  
          <li>
            Obtained top standing in my class and was accepted into the dual BS/MS program in Computer Science.
    			<li>
            Awarded the (NAME OF AWARD) academic scholarship.
    			</li>
    			
		    </ul>
	    </div>
    </div>
  </div>
</section>
